output/
obj/
bin/
packages/
Downloads/
*.suo
*.user
*.pdb
lib/dotnet/Palaso*.dll
icu*.dll
lib/dotnet/icu*.config
lib/dotnet/L10NSharp.dll
lib/dotnet/SIL.*.dll
lib/dotnet/Geckofx*.dll
lib/dotnet/Geckofx*.dll.config
lib/xulrunner/
build/Palaso.BuildTasks.dll
build/SIL.BuildTasks.dll
.nuget/NuGet.exe
DevTools/Resources/temporary/*
*.iml
.idea/
/Glyssen/Resources/Thumbs.db
lib/dotnet/NetSparkle.Net40.dll
lib/dotnet/MarkdownDeep.dll
/.vs
/DistFiles/reference_texts/NewEnglish/
~$*.xlsx
/DevTools/Resources/*.xlsm
/Glyssen/Firefox/*
/GlyssenTests/Firefox/*
