output/
obj/
bin/
packages/
Downloads/
*.suo
*.user
*.pdb
lib/dotnet/Palaso*.dll
lib/dotnet/icu*.dll
lib/dotnet/icu*.config
lib/dotnet/L10NSharp.dll
lib/dotnet/SIL.*.dll
lib/dotnet/Geckofx*.dll
lib/dotnet/Geckofx*.dll.config
lib/xulrunner/
build/Palaso.BuildTasks.dll
.nuget/NuGet.exe
DevTools/Resources/temporary/*
