output/
obj/
bin/
packages/
*.suo
*.user
*.pdb
lib/dotnet/Palaso*.dll
lib/dotnet/icu*.dll
lib/dotnet/L10NSharp.dll
lib/dotnet/Ionic.Zip.dll
lib/dotnet/SIL.ScriptureUtils.dll
build/Palaso.BuildTasks.dll
.nuget/NuGet.exe
DevTools/Resources/temporary/*
