<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SIL.WritingSystems" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <codeBase version="0.0.0.0" href="SIL.WritingSystems.dll" />
        <codeBase version="3.0.0.0" href="PTSharedDependencies\SIL.WritingSystems.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Core" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <codeBase version="0.0.0.0" href="SIL.Core.dll" />
        <codeBase version="3.0.0.0" href="PTSharedDependencies\SIL.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Windows.Forms.Keyboarding" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <codeBase version="3.0.0.0" href="PTSharedDependencies\SIL.Windows.Forms.Keyboarding.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
