<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProtoScript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProtoScript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ProtoScript.Properties.Settings>
            <setting name="UserInterfaceLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProject" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultBundleDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ParserVersion" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultSfmDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AssignCharactersShowGridView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuoteMarksDialogShowGridView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AssignCharactersSliderLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SampleVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </ProtoScript.Properties.Settings>
    </userSettings>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Palaso" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <applicationSettings>
        <ProtoScript.Properties.Settings>
            <setting name="DataFormatVersion" serializeAs="String">
                <value>3</value>
            </setting>
        </ProtoScript.Properties.Settings>
    </applicationSettings>
</configuration>