<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Analytics" version="2.0.2" targetFramework="net45" />
  <package id="DesktopAnalytics" version="1.2.1" targetFramework="net45" />
  <package id="EPPlus" version="4.0.4" targetFramework="net45" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
</packages>