<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.24.37" targetFramework="net472" />
  <package id="AtkSharp-signed" version="3.22.24.37" targetFramework="net472" />
  <package id="CairoSharp" version="3.22.24.37" targetFramework="net472" />
  <package id="CairoSharp-signed" version="3.22.24.37" targetFramework="net472" />
  <package id="DialogAdapters" version="0.1.6.21495" targetFramework="net472" />
  <package id="Enchant.Net" version="1.4.2" targetFramework="net472" />
  <package id="GdkSharp" version="3.22.24.37" targetFramework="net472" />
  <package id="GdkSharp-signed" version="3.22.24.37" targetFramework="net472" />
  <package id="GioSharp" version="3.22.24.37" targetFramework="net472" />
  <package id="GioSharp-signed" version="3.22.24.37" targetFramework="net472" />
  <package id="GLibSharp" version="3.22.24.37" targetFramework="net472" />
  <package id="GLibSharp-signed" version="3.22.24.37" targetFramework="net472" />
  <package id="GtkSharp" version="3.22.24.37" targetFramework="net472" />
  <package id="GtkSharp-signed" version="3.22.24.37" targetFramework="net472" />
  <package id="icu.net" version="2.6.0" targetFramework="net472" />
  <package id="L10NSharp" version="4.0.3" targetFramework="net472" />
  <package id="MarkdownDeep.NET.Patched" version="1.5.0.2" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.0" targetFramework="net472" />
  <package id="Mono.Posix" version="5.4.0.201" targetFramework="net472" />
  <package id="NDesk.DBus" version="0.15.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="PangoSharp" version="3.22.24.37" targetFramework="net472" />
  <package id="SIL.Core" version="8.0.0-beta0091" targetFramework="net472" />
  <package id="SIL.Core.Desktop" version="8.0.0-beta0085" targetFramework="net472" />
  <package id="SIL.Scripture" version="8.0.0-beta0091" targetFramework="net472" />
  <package id="SIL.Windows.Forms" version="8.0.0-beta0085" targetFramework="net472" />
  <package id="SIL.WritingSystems" version="8.0.0-beta0085" targetFramework="net472" />
  <package id="Spart" version="1.0.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TagLibSharp" version="2.2.0" targetFramework="net472" />
</packages>