<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code.
     They will be used later on in this file. -->
<!-- This value should be B U I LD_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes). If you build the
     Installer locally, this will be replaced by an actual version number. Do not check in that change! -->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>
<!--this is replaced at build time by the msbuild 'package' target -->
<?define Property_ProductCode = "*" ?>
<!-- auto-generate a new GUID each time -->
<?define Property_UpgradeCode = "{cd92c128-d3c7-4c9a-acc6-81e4184ef6ca}" ?>
<!--Don't even think of EVER changing this -->

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
      xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <Product Id="$(var.Property_ProductCode)" Name="Glyssen $(var.Property_ProductVersion)" Language="1033"
             Version="$(var.Property_ProductVersion)" Manufacturer="FCBH-SIL"
             UpgradeCode="$(var.Property_UpgradeCode)">

    <Package Platform="x64" Compressed="yes" InstallerVersion="200" />

    <!-- changed schedule from afterInstallInitialize, to afterInstallValidate, hopes that upgrades which have some library (e.g. palaso) with a lower version won't leave us
        with no palaso at all, as afterInstallInitialize was doing. But it's not clear whether even this will work, as it depends on when the "costing" happens:
        http://msdn.microsoft.com/en-us/library/aa371197.aspx -->
    <MajorUpgrade Schedule="afterInstallValidate"
		DowngradeErrorMessage="A later version of Glyssen is already installed. If you really want to downgrade, first uninstall Glyssen, then do this install again."/>

    <Upgrade Id ="$(var.Property_UpgradeCode)" >
      <UpgradeVersion Minimum ="$(var.Property_ProductVersion)" OnlyDetect ="yes" Property ="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum ="0.0.0" IncludeMinimum ="yes" Maximum ="$(var.Property_ProductVersion)" IncludeMaximum ="no" Property ="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade >

    <!-- show the license page -->
    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUILicenseRtf" Value="..\distfiles\License.rtf" />
    <!-- Top banner / 493 × 58 -->
    <WixVariable Id="WixUIBannerBmp" Value="installerBanner.jpg" />
    <!-- Background bitmap used on the welcome and completion dialogs / 493 × 312 -->
    <WixVariable Id="WixUIDialogBmp" Value="installerBackground.jpg" />

    <!--
    "from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run. If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts." -->

	<PropertyRef Id="NETFRAMEWORK45"/>
	<Condition Message="Glyssen requires .NET Framework 4.7.2 or later. You need to install Microsoft's free .NET Framework then run this installer again. More information about Glyssen's requirements can be found at https://software.sil.org/glyssen/download/ ">
		<![CDATA[Installed OR (NETFRAMEWORK45 >= "#461808")]]>
	</Condition>

    <!--because of bug, this needs to be 1 -->
    <Property Id ="ALLUSERS">1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="CommonAppDataFolder">
        <Directory Id="FCBHSILCommonAppData" Name="FCBH-SIL">
          <Directory Id="GlyssenCommonAppData" Name="Glyssen"/>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
		<Component Id="ComponentDesktopShortcut" Guid="*" >
          <Shortcut Id="desktopShortcut" Name="Glyssen"
                 WorkingDirectory="INSTALLDIR" Target="[!Glyssen.exe]" Icon="Glyssen.exe" />
		  <!--Remove desktop shortcut on uninstall-->
		  <RemoveFolder Id="DesktopFolder" On="uninstall"/>
			<RegistryValue Root="HKCU" Key="SOFTWARE\SIL-FCBH\Glyssen" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
	  </Directory>

	  <Directory Id='ProgramMenuFolder'/>

	  <Directory Id="ProgramFiles64Folder" Name="PFiles">

        <Directory Id="ProgramDir" Name="Glyssen">
          <Directory Id="XulRunnerDir" Name="XulRunner"/>

          <Component Id="Glyssen.exe" Guid="*" Win64="yes">
            <File Id="Glyssen.exe" Name="Glyssen.exe" Source="..\output\release\Glyssen.exe" ProcessorArchitecture="x64"/>
		  </Component>

          <Component Id="Glyssen.pdb" Guid="*">
            <File Id="Glyssen.pdb" Name="Glyssen.pdb" KeyPath="yes" Source="..\output\release\Glyssen.pdb" />
          </Component>

          <Component Id="Glyssen.exe.config" Guid="*">
            <File Id="Glyssen.exe.config" Name="Glyssen.exe.config" KeyPath="yes" Source="..\output\release\Glyssen.exe.config" />
          </Component>

          <Component Id="GlyssenShared.dll" Guid="*" Win64="yes">
            <File Id="GlyssenShared.dll" Name="GlyssenShared.dll" KeyPath="yes" Source="..\output\release\GlyssenShared.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="GlyssenShared.pdb" Guid="*">
            <File Id="GlyssenShared.pdb" Name="GlyssenShared.pdb" KeyPath="yes" Source="..\output\release\GlyssenShared.pdb" />
          </Component>

          <Component Id="GlyssenEngine.dll" Guid="*" Win64="yes">
            <File Id="GlyssenEngine.dll" Name="GlyssenEngine.dll" KeyPath="yes" Source="..\output\release\GlyssenEngine.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="GlyssenEngine.pdb" Guid="*">
            <File Id="GlyssenEngine.pdb" Name="GlyssenEngine.pdb" KeyPath="yes" Source="..\output\release\GlyssenEngine.pdb" />
          </Component>

          <Component Id="SIL.Core.dll" Guid="*" Win64="yes">
            <File Id="SIL.Core.dll" Name="SIL.Core.dll" KeyPath="yes" Source="..\output\release\SIL.Core.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.Core.Desktop.dll" Guid="*" Win64="yes">
            <File Id="SIL.Core.Desktop.dll" Name="SIL.Core.Desktop.dll" KeyPath="yes" Source="..\output\release\SIL.Core.Desktop.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.Windows.Forms.dll" Guid="*" Win64="yes">
            <File Id="SIL.Windows.Forms.dll" Name="SIL.Windows.Forms.dll" KeyPath="yes" Source="..\output\release\SIL.Windows.Forms.dll" ProcessorArchitecture="x64"/>
          </Component>

		  <Component Id="SIL.Windows.Forms.GeckoBrowserAdapter.dll" Guid="*" Win64="yes">
            <File Id="SIL.Windows.Forms.GeckoBrowserAdapter.dll" Name="SIL.Windows.Forms.GeckoBrowserAdapter.dll" KeyPath="yes" Source="..\output\release\SIL.Windows.Forms.GeckoBrowserAdapter.dll" />
          </Component>

          <Component Id="SIL.Windows.Forms.Keyboarding.dll" Guid="*" Win64="yes">
            <File Id="SIL.Windows.Forms.Keyboarding.dll" Name="SIL.Windows.Forms.Keyboarding.dll" KeyPath="yes" Source="..\output\release\SIL.Windows.Forms.Keyboarding.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.WritingSystems.dll" Guid="*" Win64="yes">
            <File Id="SIL.WritingSystems.dll" Name="SIL.WritingSystems.dll" KeyPath="yes" Source="..\output\release\SIL.WritingSystems.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.DblBundle.dll" Guid="*" Win64="yes">
            <File Id="SIL.DblBundle.dll" Name="SIL.DblBundle.dll" KeyPath="yes" Source="..\output\release\SIL.DblBundle.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.Windows.Forms.DblBundle.dll" Guid="*" Win64="yes">
            <File Id="SIL.Windows.Forms.DblBundle.dll" Name="SIL.Windows.Forms.DblBundle.dll" KeyPath="yes" Source="..\output\release\SIL.Windows.Forms.DblBundle.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.Windows.Forms.WritingSystems.dll" Guid="*" Win64="yes">
            <File Id="SIL.Windows.Forms.WritingSystems.dll" Name="SIL.Windows.Forms.WritingSystems.dll" KeyPath="yes" Source="..\output\release\SIL.Windows.Forms.WritingSystems.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.Scripture.dll" Guid="*" Win64="yes">
            <File Id="SIL.Scripture.dll" Name="SIL.Scripture.dll" KeyPath="yes" Source="..\output\release\SIL.Scripture.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="SIL.Windows.Forms.Scripture.dll" Guid="*" Win64="yes">
            <File Id="SIL.Windows.Forms.Scripture.dll" Name="SIL.Windows.Forms.Scripture.dll" KeyPath="yes" Source="..\output\release\SIL.Windows.Forms.Scripture.dll" ProcessorArchitecture="x64"/>
          </Component>

		  <!-- REVIEW: Is this going to be 64-bit? Where should we get it from? -->
          <Component Id="Geckofx_Core.dll" Guid="*">
            <File Id="Geckofx_Core.dll" Name="Geckofx-Core.dll" KeyPath="yes" Source="..\output\release\Geckofx-Core.dll" />
          </Component>

		  <!-- REVIEW: Is this going to go away? -->
          <Component Id="Geckofx_Core.pdb" Guid="*">
            <File Id="Geckofx_Core.pdb" Name="Geckofx-Core.pdb" KeyPath="yes" Source="..\output\release\Geckofx-Core.pdb" />
          </Component>

          <!-- REVIEW: Is this going to be 64-bit? Where should we get it from? -->
          <Component Id="Geckofx_Winforms.dll" Guid="*">
            <File Id="Geckofx_Winforms.dll" Name="Geckofx-Winforms.dll" KeyPath="yes" Source="..\output\release\Geckofx-Winforms.dll" />
          </Component>

          <!-- REVIEW: Is this going to go away? -->
          <Component Id="Geckofx_Winforms.pdb" Guid="*">
            <File Id="Geckofx_Winforms.pdb" Name="Geckofx-Winforms.pdb" KeyPath="yes" Source="..\output\release\Geckofx-Winforms.pdb" />
          </Component>

          <Component Id="MarkdownDeep.dll" Guid="*">
            <File Id="MarkdownDeep.dll" Name="MarkdownDeep.dll" KeyPath="yes" Source="..\output\release\MarkdownDeep.dll" />
          </Component>

          <Component Id="NetSparkle.Net40.dll" Guid="*" Win64="yes">
            <File Id="NetSparkle.Net40.dll" Name="NetSparkle.Net40.dll" KeyPath="yes" Source="..\output\release\NetSparkle.Net40.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="icu.net.dll" Guid="*">
            <File Id="icu.net.dll" Name="icu.net.dll" KeyPath="yes" Source="..\output\release\icu.net.dll" />
          </Component>

          <Component Id="icudt59.dll" Guid="*">
            <File Id="icudt59.dll" Name="icudt59.dll" KeyPath="yes" Source="..\output\release\lib\win-x64\icudt59.dll" />
          </Component>

          <Component Id="icuin59.dll" Guid="*">
            <File Id="icuin59.dll" Name="icuin59.dll" KeyPath="yes" Source="..\output\release\lib\win-x64\icuin59.dll" />
          </Component>

          <Component Id="icuuc59.dll" Guid="*">
            <File Id="icuuc59.dll" Name="icuuc59.dll" KeyPath="yes" Source="..\output\release\lib\win-x64\icuuc59.dll" />
          </Component>

          <Component Id="System.ValueTuple.dll" Guid="*">
            <File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" KeyPath="yes" Source="..\output\release\System.ValueTuple.dll" />
          </Component>

          <Component Id="ParatextData.dll" Guid="*" Win64="yes">
            <File Id="ParatextData.dll" Name="ParatextData.dll" KeyPath="yes" Source="..\output\release\ParatextData.dll" ProcessorArchitecture="x64"/>
          </Component>

          <!--Needed for ParatextData-->
          <Component Id="PtxUtils.dll" Guid="*" Win64="yes">
            <File Id="PtxUtils.dll" Name="PtxUtils.dll" KeyPath="yes" Source="..\output\release\PtxUtils.dll" ProcessorArchitecture="x64"/>
          </Component>
          <!--End Needed for ParatextData-->

		  <Component Id="Microsoft.DotNet.PlatformAbstractions.dll" Guid="*" Win64="yes">
            <File Id="Microsoft.DotNet.PlatformAbstractions.dll" Name="Microsoft.DotNet.PlatformAbstractions.dll" KeyPath="yes" Source="..\output\release\Microsoft.DotNet.PlatformAbstractions.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="Microsoft.Extensions.DependencyModel.dll" Guid="*" Win64="yes">
            <File Id="Microsoft.Extensions.DependencyModel.dll" Name="Microsoft.Extensions.DependencyModel.dll" KeyPath="yes" Source="..\output\release\Microsoft.Extensions.DependencyModel.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="Microsoft.Win32.Registry.dll" Guid="*" Win64="yes">
            <File Id="Microsoft.Win32.Registry.dll" Name="Microsoft.Win32.Registry.dll" KeyPath="yes" Source="..\output\release\Microsoft.Win32.Registry.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="Microsoft.Win32.SystemEvents.dll" Guid="*" Win64="yes">
            <File Id="Microsoft.Win32.SystemEvents.dll" Name="Microsoft.Win32.SystemEvents.dll" KeyPath="yes" Source="..\output\release\Microsoft.Win32.SystemEvents.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="DotNetZip.dll" Guid="*" Win64="yes">
            <File Id="DotNetZip.dll" Name="DotNetZip.dll" KeyPath="yes" Source="..\output\release\DotNetZip.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="L10NSharp.dll" Guid="*" Win64="yes">
            <File Id="L10NSharp.dll" Name="L10NSharp.dll" KeyPath="yes" Source="..\output\release\L10NSharp.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="Analytics.NET.dll" Guid="*" Win64="yes">
            <File Id="Analytics.NET.dll" Name="Analytics.NET.dll" KeyPath="yes" Source="..\output\release\Analytics.NET.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="DesktopAnalytics.dll" Guid="*" Win64="yes">
            <File Id="DesktopAnalytics.dll" Name="DesktopAnalytics.dll" KeyPath="yes" Source="..\output\release\DesktopAnalytics.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="Newtonsoft.Json.dll" Guid="*" Win64="yes">
            <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="..\output\release\Newtonsoft.Json.dll" ProcessorArchitecture="x64"/>
          </Component>

          <Component Id="EPPlus.dll" Guid="*" Win64="yes">
            <File Id="EPPlus.dll" Name="EPPlus.dll" KeyPath="yes" Source="..\output\release\EPPlus.dll" ProcessorArchitecture="x64"/>
          </Component>

        </Directory>
      </Directory>
    </Directory>
	
	<DirectoryRef Id="ProgramMenuFolder">
	  <Component Id="GlyssenShortcut" Guid="{B8000306-EB15-4458-8264-97C1F888AD1E}">
		<Shortcut Id="GlyssenStartMenuShortcut"
				  Name="Glyssen"
				  WorkingDirectory="ProgramDir"
				  Target="[!Glyssen.exe]"
				  Icon="Glyssen.exe" />
		<RegistryValue Root="HKCU" Key="SOFTWARE\SIL-FCBH\Glyssen" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
	  </Component>
	</DirectoryRef>

    <Component Id="CreateGlyssenAppDataFolder" Guid="{C5B67418-083A-4AE5-85E3-B0E23EAFD342}" Directory="GlyssenCommonAppData">
      <CreateFolder />
    </Component>

    <Feature Id="ProductFeature" Level="1" Title="Basic Stuff">
      <ComponentRef Id="CreateGlyssenAppDataFolder"/>
      <ComponentRef Id="SIL.Core.dll"/>
      <ComponentRef Id="SIL.Core.Desktop.dll"/>
      <ComponentRef Id="SIL.Windows.Forms.dll"/>
      <ComponentRef Id="SIL.Windows.Forms.GeckoBrowserAdapter.dll"/>
      <ComponentRef Id="SIL.Windows.Forms.Keyboarding.dll"/>
      <ComponentRef Id="SIL.WritingSystems.dll"/>
      <ComponentRef Id="SIL.DblBundle.dll"/>
      <ComponentRef Id="SIL.Windows.Forms.DblBundle.dll"/>
      <ComponentRef Id="SIL.Windows.Forms.WritingSystems.dll"/>
      <ComponentRef Id="SIL.Scripture.dll"/>
      <ComponentRef Id="SIL.Windows.Forms.Scripture.dll"/>
      <ComponentRef Id="Geckofx_Core.dll"/>
      <ComponentRef Id="Geckofx_Winforms.dll"/>
      <ComponentRef Id="MarkdownDeep.dll"/>
      <ComponentRef Id="NetSparkle.Net40.dll"/>
      <ComponentRef Id="icu.net.dll"/>
      <ComponentRef Id="icudt59.dll"/>
      <ComponentRef Id="icuin59.dll"/>
      <ComponentRef Id="icuuc59.dll"/>
	  <ComponentRef Id="System.ValueTuple.dll"/>
      <ComponentRef Id="ParatextData.dll"/>
      <ComponentRef Id="PtxUtils.dll"/>
	  <ComponentRef Id="DotNetZip.dll"/>
      <ComponentRef Id="Microsoft.DotNet.PlatformAbstractions.dll"/>
      <ComponentRef Id="Microsoft.Extensions.DependencyModel.dll"/>
      <ComponentRef Id="Microsoft.Win32.Registry.dll"/>
	  <ComponentRef Id="Microsoft.Win32.SystemEvents.dll"/>
      <ComponentRef Id="L10NSharp.dll"/>
      <ComponentRef Id="Glyssen.exe" />
	  <ComponentRef Id="ComponentDesktopShortcut" />
      <ComponentRef Id="GlyssenShortcut" />
      <ComponentRef Id="Glyssen.exe.config" />
      <ComponentRef Id="GlyssenShared.dll"/>
      <ComponentRef Id="GlyssenEngine.dll"/>
      <ComponentRef Id="Analytics.NET.dll"/>
      <ComponentRef Id="DesktopAnalytics.dll"/>
      <ComponentRef Id="Newtonsoft.Json.dll"/>
      <ComponentRef Id="EPPlus.dll"/>

      <ComponentRef Id="Geckofx_Core.pdb"/>
      <ComponentRef Id="Geckofx_Winforms.pdb"/>

      <ComponentRef Id="Glyssen.pdb" />
      <ComponentRef Id="GlyssenShared.pdb" />
      <ComponentRef Id="GlyssenEngine.pdb" />

      <ComponentGroupRef Id="DistFiles"/>
      <ComponentGroupRef Id="XulRunner" />

    </Feature>
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Icon Id="Glyssen.exe" SourceFile ="..\output\release\Glyssen.exe" />
    <Property Id="ARPPRODUCTICON" Value="Glyssen.exe" />
    <!-- what you see in add/remove programs control panel -->



    <CustomAction Id="LaunchGlyssen"
                  FileKey="Glyssen.exe"
                  ExeCommand=""
                  Return="asyncNoWait"/>

    <InstallExecuteSequence>

      <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
          <Custom Action='LaunchGlyssen' After="InstallFinalize">NOT Installed</Custom>
        </InstallExecuteSequence>
  </Product>
</Wix>
